* {
 font-size: 26px;
 font-family: Courier;
}

body {
  color: #333232;
  margin: 0;
}

.topo {
  background-color: chartreuse;
  padding: 25px;
  text-align: center;
}

.cabecalho {
  padding-top: 40px;
}

.container {
  margin: 0 80px 0 80px;
}

img {
    width: 280px;
}

