@font-face {
    font-family: BrushScript;
    src: url(../fonte/BrushScript.ttf) format("truetype");
}

*{
    font-size: 26px;
    font-family: Couruier;
    color: black;
    line-height: 42px;
   
   }
   
   body {
       margin: 0;
       color: #333232;
   }

   .topo {
       /*background-color: chartreuse;*/
       background-image: url(../img/cool-background.png);
       background-position: center;
       background-repeat: cover;
       margin: 0;
       border: 0;
       padding: 40px;
       text-align: center;    
   }

   .topo h2 {
    font-family: "BrushScript";
    margin: 0;
   }
   
   .cabecahlo{
       padding-top: 40px;
   }
   
   .container {
       margin: 0 80px 80px 80px;
   }
   
   p {
    text-align: justify;
    line-height: 38px;
   }

   img {
       width: 280px;
   }

   figure image {
    width: 400px;
   }