@font-face {
    font-family: BrushScript;
    src: url(../fonte/BrushScript.ttf) format("truetype");
}

*{
    font-size: 26px;
    font-family: Couruier;
    color: black;
    line-height: 42px;
   
   }
   
   body {
       margin: 0;
       color: #333232;
   }

   .topo {
       background-color: chartreuse;
       /* background-image: url(../img/cool-background.png);
       background-position: center;
       background-size: cover; */
       /*background: center / cover no-repeat url(../img/cool-background.png);*/
       margin: 0;
       border: 0;
       padding: 40px;
       text-align: center;
       position: relative;
       height: 540px;
   }

   .topo h2 {
    font-family: "BrushScript";
    margin: 0;
   }
   
   .cabecahlo{
       padding-top: 40px;
   }
   
   .container {
       margin: 0 80px 80px 80px;
   }
   
   p {
    text-align: justify;
    line-height: 38px;
   }

   img {
       width: 280px;
   }

   figure image {
    width: 400px;
   }

   .instagram-amaro:hover {
    position: relative;
    -webkit-filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
    filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
  }
  .custom-shape-divider-bottom-1701179238 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701179238 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 156px;
}

.custom-shape-divider-bottom-1701179238 .shape-fill {
    fill: #FFFFFF;
}