
body {
    color: #333232;
}

.conteiner{
    padding: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 20px black;
}

td, th{
    border: 1px solid #dddddd;
    padding: 12px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
}

tr:nth-child(even){
    background-color: rgb(233, 233, 233);
}

